* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box; 
}

body {
    margin: 0;
    overflow: auto;// Reserve space for the fixed footer so content isn't covered
    height: auto;
}

main{
    min-height: 500px;
    height: auto;
}