@use "../colors/colors" as *;

footer {
    background-color: $footerBackColor;
    color: $hoverBackColor;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    padding: 30px 40px;
    margin: 0px;

    img {
        height: 30px;
        width: 30px;
        display: block;
        margin: 12px;
    }

    .container {
        .title {
            justify-self: center;

            h2 {
                display: inline-block;
            }
        }

        .content {
            justify-items: center;

            p{
                
                display: block;
            }

        }

        .social-media-icons {
            justify-self: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

}