@use "../colors/colors" as *;

footer {
    background-color: $footerBackColor;
    color: $hoverBackColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 40px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0px;

    img {
        height: 30px;
        width: 30px;
        display: block;
        margin: 12px;
    }
}