footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 200px; // adjust if you change footer height in HTML
    padding: 20px 40px;
    z-index: 1000;

    img {
        height: 50px;
        width: 50px;
        display: block;
    }
}