@use "../colors/colors" as *;

header {
    background-color: $headerBackColor;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    .logo {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    a {
        text-decoration: none;
        color: black;
        margin: 0 15px;
    }

    .search-bar {
        input {
            width: 550px;
            border-radius: 8px;
            border: none;
            height: 40px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            transition: 100ms;
            padding: 0 15px;
        }

    }
    .search-bar:hover input {
        background-color: $hoverBackColor;
        transform: translateY(-2px);
    }

    .cart {
        margin-right: 20px;
    }

}